.brand-img {
  width: 200px;
  height: 180px;
  display: block;
  border-radius: 50%;
  margin: 150px auto 10px auto;
}
.signup-form {
  width: 350px;
  height: 610px;
  margin: 10px auto 50px auto;
  background-color: #fff;
  border-radius: 15px;
}
.signup-form:hover {
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.5);
}
.signup-panel {
  background-color: #59b846;
  padding: 30px;
  border-radius: 15px 15px 0 0;
  margin-bottom: 35px;
}
.signup-form input[type="email"],
input[type="password"] {
  height: 45px;
  background-color: #ebebeb;
  border: none;
  border-radius: 20px;
  margin: 15px 0;
  padding: 15px;
  box-sizing: border-box;
}
.signup-form input[type="email"],
input[type="password"]:focus {
  outline: none;
}
.signup-form input::-webkit-input-placeholder {
  color: rgb(138, 136, 136);
  text-align: center;
  font-weight: bold;
}
#account {
  height: 45px;
  text-align: center;
  background-color: #ebebeb;
  border: none;
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 5px;
  width: 99%;
  cursor: pointer;
}
#account:focus {
  outline: none;
  cursor: pointer;
}
#account:hover {
  cursor: pointer;
}
.signup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 99%;
  height: 45px;
  border: none;
  margin-top: 20px;
  background-color: #57b846;
  border-radius: 25px;
  font-size: 15px;
  color: #fff;
}
.signup-btn:hover {
  background-color: #1a4412;
  font-weight: bold;
}
