/* .apply-btn {
  width: 180px;
  height: 39px;
  margin: 10px auto;
  display: block;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgb(24, 163, 47);
  color: #fff;
}
.apply-btn:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(17, 77, 9);
  color: #fff;
  font-weight: bold;
} */
.loading-img {
  margin-top: 150px;
}
.apply-btn {
  margin: 10px auto;
  display: block;
  width: 170px;
  height: 39px;
  border: none;
  border-radius: 5px;
  background-color: rgb(24, 163, 47);
  color: #fff;
}
.apply-btn:hover {
  cursor: pointer;
  background-color: rgb(17, 77, 9);
  color: #fff;
  font-weight: bold;
}
