.navbar-design {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}
.logo {
  margin-left: 50px;
  height: 80px;
  width: 170px;
}
.nav-link {
  color: rgba(0, 0, 0, 0.767) !important;
  font-weight: bold;
  margin: 10px 10px;
}
.nav-link:focus {
  color: rgb(26, 148, 56) !important;
}
