.footer-section {
  padding: 70px 0 30px 0;
  background-color: #bf373a;
  color: white;
}
.footer-section p {
  margin: 3px 0;
  transition: all 0.3s ease;
}
.footer-section p:hover {
  margin-left: 5px;
  text-decoration: underline;
}
.footer-link {
  color: white;
}
.footer-link:hover {
  color: white;
}
.footer-section img {
  width: 260px;
  height: 120px;
}
.footer-section .icon {
  margin: 9px;
  font-size: 27px;
  transition: all 0.3s ease;
}
.footer-section .icon:hover {
  color: #283543;
  cursor: pointer;
  margin-bottom: 5px;
}

@media only screen and (max-width: 460px) {
  .footer-section p {
    font-size: 14px;
  }
  .footer-section h5 {
    font-size: 18px;
  }
  .footer-section h6 {
    font-size: 14px;
  }
}
